.home-hdr{
    height: 20%; 
    width: 100%;
}
<<<<<<< Updated upstream

.dispNone{
    display: none; 

=======
.home-body{
    height: auto;
    width: 100%;
    display: flex; 
    justify-content: space-around;
>>>>>>> Stashed changes
}

.grid-root{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    overflow: hidden; 
    background-color: honeydew; 
    width: 80%;
    height: 100%; 
}

.grid-list{
    width: auto;
    height: 100%;
    margin:10px; 
}


.card-root{
   /* width: 500px; 
    height: 700px;*/

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: radius 10px; 
    /*max-width: 345px; */ 
  } 

.avatar{
    background-color: red;
}

.media {
    height: 40%;
    width: 40%;   
    border: 1px solid #ddd;
    padding-top : 56.25%;  
    
  }

  .card-content{
      width: 100%; 
      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: center; 
  }
  .caption{
      font-size: 20pt;
      margin-bottom: 0; 
      padding-bottom: 0;  
  }
  .hash{
      color: skyblue; 
      font-size: 12pt;
      margin-top: 0;
      padding-top: 0;
  }

  .like{
      align-items:baseline; 
  }
.add-comment{
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: baseline; 
} 
.cmt-btn{
    align-items: center;
<<<<<<< Updated upstream

}
=======
}

>>>>>>> Stashed changes
